/*css commun*/
header
{
	height:12%;
	background-color:whitesmoke;
	position:fixed;
	left:0px;
	top:0px;
	width:100%;
	z-index:1;
}
header p
{
	position:absolute;
	top:20%;
	left:5%
}
#liens
{
	margin:auto;
	position:absolute;
	bottom:0px;
	left:20%;
}
 #liens ul
{
	display:flex;
	flex-direction:row;
	flex-wrap: wrap;
}
#liens li
{
	list-style: none;
	font-size:2em;
	margin-left:30px;
	font-style:italic;
}
body
{
    background: #212a41 url("../img/noelv2.png") center top !important;
    background-size: 50%;
		margin-top:8%;
		background-repeat:repeat;
		background-size: 100%;
		cursor:default;
		font-family:sans-Serif;
}
form:hover , a:hover, button:hover
{
	cursor:pointer;
}
#logo
{
	text-align:center;
}
#logo h1
{
	margin-top:0px;
	position:relative;
	top:-20px;
}
header a
{
	color:black;
}
header a:hover
{
	color:rgb(64,96,178);
}
a
{
		text-decoration: none;
		color:black;
}
#panier
{
	position:absolute;
	top:45%;
	right:10%;
}
#menu
{
	display:block;
	position:absolute;
	left:0px;
	top:50%;
	width:10%;
	height:50%;
	overflow:hidden;
	color:rgb(77,79,166);
}
#menu:hover
{
	transition:0.5s;
	width:20%;
	height:300px;
	border-bottom-right-radius: 0.5em;
	background-color: whitesmoke;
	color: rgb(64, 96, 178);
}
#menu button
{
	border:none;
	background-color: whitesmoke;
}
#menu li
{
	font-size:1.5em;
	list-style: none;
	color: grey;
	margin-top:10px;
	margin-left: 10px;
	padding-left: 0px;
	text-align:center;
	padding:10px;
	border-left: 4px rgb(64, 96, 178) solid;
	font-weight: bold;
}
#menu ul
{
	width:95%;
	margin-top:10px;
	margin-left: 0px;
	padding-left: 0px;
}
#menu li:hover
{
	transition:0.5s ease;
	background-color:grey;
	color:white;
	transform: skewX(4deg);
}
/*Barre de recherche: "studiosport.fr"*/
.header-search
{
	height:32px;
	width:285px;
	margin: 28px 10px 0;
	position:absolute;
	right:20%;
	top:25%;
}
.fond-search
{
	width:288px;
	height:32px;
	background-color:#FFFFFF;
	border: solid 1px #CCC;
}
.fond-centre input[name="keywords"]
{
	border-width:1px !important;
	height:20px;
	line-height:20px;
}
.header-search .input-text-search
{
	width:235px;
	height:22px;
	line-height:22px;
	padding:5px;
	border:0;
	background-color:transparent;
	color:#000;
	font-size:13px;
	float:left;
	margin:0;
}
.boutonOK
{
	width:38px;
	height:32px;
	border:none ;
	cursor:pointer;
	border-radius:0;
	text-indent:-100px;
	background:rgb(64,96,178) url("../img/loupe.png");
	background-position: center center;
	background-repeat: no-repeat;
	float:right;
 }
.prix
{
	font-weight: bold;
	color:black;
}
.prix strong
{
	display:block;
	font-size:2.5em;
	font-weight:bold;
	margin-top:10px;
}
.prix em
{
	color:red;
	text-decoration: line-through;
	font-size: 2em;
}
/*page d'acceuil*/
#bienvenue
{
	text-align: center;
	font-size:2.6em;
	font-weight:bold;
	color: #4060b2;
}
#promos
{
	display:flex;
	justify-content: space-around;
	flex-wrap: wrap;
	background-image:url("../img/cadre.png");
	background-repeat: no-repeat;
	background-color:white 	;
	background-size: 100%;
	border: solid;
	border-radius: 5%;
	border-color: #4060b2;
	margin:auto;
	margin-bottom: 5%;
	width: 60%;
	height: 40%;
}
#detail_index
{
	font-size: 1.2em;
	width:100%;
	margin:auto;
	text-align:center;
	height:100%;
	display:flex;
	flex-direction:column;
}
#detail_index img
{
	margin:auto;
	width: 30%;
}
#detail_index h3
{
	font-size: 2.5em;
	color:rgb(196,0,0);
	text-align: center;
	margin-bottom:10px;
	margin-top: 40px;
	font-weight: bold;
	text-transform: uppercase;
}
#ban-index
{
	width:50%;
	color: red;
	text-align: center;
	font-size: 2.5em;
	font-weight: bold;
	background-color:rgba(255, 255, 255, 0.8);
	border-radius:0.5em;
}
/*page de résultats*/
#page_article
{
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
	align-items:baseline;
	width:60%;
	position: absolute;
	right:20%;
}
#page_article article
{
 width:260px;
 padding:10px;
 text-align:center;
 margin: 15px;
 background-color: white;
}
 #page_article article:hover
{
 box-shadow:3px 3px grey;
}
#page_article h6
{
	max-height:60px;
	overflow: hidden;
	font-size:1.2em;
	margin:6px;
}
 #page_article article button
{
 background-color:rgb(64, 96, 178);
 color:whitesmoke;
 width:100%;
 height:50px;
 font-size:1.4em;
 border:none;
}
 #page_article article button:hover
{
	 background-color:rgb(50, 10, 180) ;
		box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
		padding: 10px;
	 cursor:pointer;
}
#page_article .prix em
{
	margin-top:-5px;
	font-size:1.2em;
	font-weight:normal;
}
#ban_promo
{
	margin-left: -7%;
}
/*Page d'article détaillé*/
#detail
{
	width:60%;
	margin:auto;
	background-color: white;
	text-align:center;
	height:150%;
	display:flex;
	flex-direction:column;
	padding:10px;
	font-family:sans-Serif;
}
#detail h3
{
	font-size:2em;
	font-weight:bold;
}
#detail h4
{
	font-size:1.5em;
	font-weight:bold;
}
#detail p
{
	font-size:1.2em;
}
#detail #image_article
{
	width:30%;
	margin:auto;
}
#detail #frskylogo
{
	width:15%;
	float:left;
	display:inline;
}
#detail li
{
	text-align: left;
}
#detail button
{
	background-color:rgb(64, 96, 178);
	color:whitesmoke;
	width:100%;
	height:50px;
	font-size:1.4em;
	border:none;
}
#detail button:hover
{
		background-color:rgb(50, 10, 180) ;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    padding: 10px;
		cursor:pointer;
}
#detail input
{
	height:30px;
}
/*Page qui sommes nous*/
#aboutus
{
	text-align: center;
	color: #4060b2;
	font-size: 200%;
}
#description
{
	background-color: whitesmoke;
	text-align: center;
	border: solid;
	border-color: #4060b2;
	border-radius:2em;
	width: 60%;
	padding: 0.5%;
	margin:auto;
	font-size:1.4em;
}
#contactus
{
	background-color: whitesmoke;
	border: solid;
	border-radius: 5%;
	border-color: #4060b2;
	width: 25%;
	margin-left: 37.5%;
	border-color:#4060b2;
	color: #4060b2;
	position: relative;
	text-align: center;
	margin-top: 7%;
}
#contactus button
{
background-color:rgb(64, 96, 178);
color:whitesmoke;
width:50%;
height:50px;
font-size:1.4em;
border:none;
}
#contactus button:hover
{
	background-color:rgb(50, 10, 180) ;
	 box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
	 padding: 10px;
	cursor:pointer;
}
/*Page de validation*/
#validation
{
	color: #4060b2;
	font-size: 200%;
	text-align: center;
	margin-top: 5%;
	padding:30px;
	border-radius:0.5em;
	width:70%;
	margin:auto;
	background-color: whitesmoke;
	border: solid;
	border-color: #4060b2;
	border-radius: 5%;
	width:70%;
	margin:auto;
}
#validation img
{
	margin-top:20px;
	border: solid;
	border-radius: 100%;
}
/*Page de formulaire*/
#commande p
{
	text-align:center;
	font-size:1.7em;
}
#commande form
{
	display:flex;
	flex-direction:column;
	width:40%;
	margin:auto;
}
#commande form input
{
	margin-bottom:10px;
	height:20px;
	border:1px solid rgb(64, 96, 178);
}
#commande button
{
background-color:rgb(64, 96, 178);
color:whitesmoke;
width:100%;
height:50px;
font-size:1.4em;
border:none;
}
#commande button:hover
{
	background-color:rgb(50, 10, 180) ;
	 box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
	 padding: 10px;
	cursor:pointer;
}
#commande
{
	background-color: whitesmoke;
	border: solid;
	border-color: #4060b2;
	border-radius: 5%;
	cursor: default;
	height:450px;
	width:70%;
	margin:auto;
}
/*responsive mobile-portrait*/
@media only screen and (max-width:425px) and (orientation: portrait)
{
	header
	{
		position:absolute;
		top:0;
		left:0;
		font-size: 0.8em;
		height:25%;
		display:flex;
		flex-direction: column;
	}
	
	header #logo
	{
		display:none;
	}
	.header-search
	{
		top:30%;
		width:90%;
		left:5%;
	}
	#panier
	{
		position:absolute;
		right:10px;
		top:10px;
	}
	#menu
	{
		top:70%;
		height:45px;
		width:45px;
	}
	#menu:hover
	{
		width:100%;
	}
	#liens
	{
		position:absolute;
		top:10px;
		left:0px;
		margin-left:-20px;
	}
	body
	{
		margin-top:60%;
	}
	#bienvenue p
	{
		font-size: 0.6em;
	}
	#promos
	{
		width:95%;
		background-size: cover;
		font-size: 0.5em;
	}
	#detail_index img
	{
		width: 50%;
	}
	
	#ban_promo img
	{
		display:none;
	}
	#page_article
	{
		justify-content: center;
		left: 20%;
	}
	#detail
	{
		width:95%;
	}
	#description
	{
		width:95%;
		margin-bottom: 10px;
	}
	#contactus
	{
		margin:auto;
		width:95%;
	}
	#commande
	{
		width:95%;
		height:100%;
	}
	#validation img
	{
		width:60%;
		height:20%;
	}
	#validation
	{
		width:80%;
	}
	.drone-container
	{
		display:none;
	}
}

/*responsive mobile-landscape*/
@media only screen and (min-width:640px) and (max-width:820px) and (orientation: landscape)
{
	header
	{
		position:absolute;
		top:0;
		left:0;
		font-size: 0.8em;
		height:30%;
		display:flex;
		flex-direction: column;
	}
	
	header #logo
	{
		display:none;
	}
	.header-search
	{
		top:-10%;
		width:90%;
		left:50%;
	}
	#panier
	{
		position:absolute;
		right:10px;
		top:50%;
	}
	#menu
	{
		top:50%;
		height:45px;
		width:45px;
	}
	#menu:hover
	{
		width:50%;
	}
	#liens
	{
		position:absolute;
		top:10px;
		left:0px;
		margin-left:-20px;
	}
	body
	{
		margin-top:30%;
	}
	#bienvenue p
	{
		font-size: 0.6em;
	}
	#promos
	{
		width:95%;
		background-size: cover;
		font-size: 0.5em;
	}
	#detail_index img
	{
		width: 50%;
	}
	
	#ban_promo img
	{
		display:none;
	}
	#page_article
	{
		justify-content: center;
		left: 20%;
	}
	#detail
	{
		width:95%;
	}
	#description
	{
		width:95%;
		margin-bottom: 10px;
	}
	#contactus
	{
		margin:auto;
		width:95%;
	}
	#commande
	{
		width:95%;
		height:100%;
	}
	#validation img
	{
		width:60%;
		height:20%;
	}
	#validation
	{
		width:80%;
	}
	.drone-container
	{
		display:none;
	}
}
/* ANIMATION (source: animation de neige de billetreduc.com)*/
	.drone-container{

	  position: fixed;
	  height: 100vh;
	  margin-left: -15%;
	  width: 200%;
	  max-width: 200%;
	  top: 0;
	  overflow: hidden;
	  z-index: -1;
	}
	.drone {
	  display: block;
	  position: absolute;
	  z-index: -1;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  transform: translate3d(0, -100%, 0);
	  animation: drone linear infinite;
	}
	    .drone.foreground {
	        background-image: url("../img/flaucon1.png");
	        animation-duration: 50s;
	    }
	.drone.foreground.layered {
	          animation-delay: 30s;
	}
	    .drone.middleground {
	        background-image: url("../img/flaucon2.png");
	        animation-duration: 40s;
	    }
	.drone.middleground.layered {
	          animation-delay: 10s;
	}
	    .drone.background {
	        background-image: url("../img/flaucon3.png");
	        animation-duration: 30s;
	    }
	.drone.background.layered {
	          animation-delay: 15s;
	}
	@keyframes drone {
	  0% {
	            transform: translate3d(0, 100%, 0);
	  }
	  100% {
	            transform: translate3d(0%, -100%, 0);
	  }
	}
