header
{
	height:12%;
	background-color:whitesmoke;
	position:fixed;
	left:0px;
	top:0px;
	width:100%;
	z-index:1;
}
#menu
{
	display:block;
	width:65px;
	height:65px;
	overflow:hidden;
}
#menu:hover
{
	transition:0.5;
	width:20%;
	height:300px;
	background-color: whitesmoke;
}
#menu button
{
	border:none;
	background-color: whitesmoke;
}
#menu li
{
	font-size:1.5em;
	list-style: none;
	color: grey;
	margin-top:10px;
	margin-left: 10px;
	padding-left: 0px;
	text-align:center;
	padding:10px;
	border-left: 4px blue solid;
	font-weight: bold;
}
#menu ul
{
	width:95%;
	margin-top:10px;
	margin-left: 0px;
	padding-left: 0px;
}
#menu li:hover
{
	transition:0.5s ease;
	background-color:grey;
	color:white;
	transform: skewX(4deg);}
#promos
{
	display:flex;
	justify-content: space-around;
	flex-wrap: wrap;
	background-image:url("../img/cadre.png");
	background-repeat: no-repeat;
	background-color:#f44242;
	background-size: 100%;
	padding: 1.5%;
	border: solid;
	border-radius: 5%;
	border-color: #00235b;
	margin-left: 20%;
	margin-bottom: 10%;
	width: 60%;
	height: 40%;
}

#promos img
{
	margin:10px;
	border: solid;
	border-radius: 5%;
	background-color: white
}


body
{
    background: #212a41 url("../img/noelv2.png") center top !important;
    background-size: 50%;
		margin-top:8%;
		background-repeat:repeat;
		background-size: 100%;
		-ms-user-select:none;
		cursor:default;
}
footer
{
  position: relative;
  background-color: whitesmoke;
  text-align: center;
  bottom: 0px;
  left: 0px;
  height: 5%;
  width: 100%;
}
form
{
	position:absolute;
	right:15%;
	top:60%;
}
form:hover , a:hover
{
	cursor:pointer;
}
#ban_promo
{
	width:100%;
	background-color:white;
	border:5px solid blue;
}
#ban_promo p
{
	font-size: 3em;
	color:grey;
	text-align: center;
}
#ban_promo a
{
	text-decoration: none;
}
#search_button:hover
{
	cursor:pointer;
}
#search input
{
	height:150%;
}
#search_text
{
	width:250px;
}
#search_button
{
	float:right;
}
#logo
{
	text-align:center;
}

#logo h1
{
	margin-top:0px;
	position:relative;
	top:-20px;
}

header p
{
	position:absolute;
	top:20%;
	left:5%
}

a:hover
{
	color: white;
}
#page_article
{
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
	align-items:baseline;
	width:60%;
	position: absolute;
	right:16%;
}
article
{
	width:260px;
	padding:10px;
	text-align:center;
	margin: 15px;
	background-color: white;
}
article:hover
{
	box-shadow:2px 2px grey;
}
article input
{
	background-color:blue;
	color:whitesmoke;
	width:100%;
	height:50px;
	font-size:1.4em;
	border:none;
}
article input:hover
{
    position: relative;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    padding: 10px;
		cursor:pointer;
}
#bienvenue
{
	text-align: center;
	font-size: 150%;
	color: orange;
}

/* ANIMATION */

.snow-container {

  position: fixed;
  height: 100vh;
  margin-left: -15%;
  width: 200%;
  max-width: 200%;
  top: 0;
  overflow: hidden;
  z-index: -1;
}
.snow {
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translate3d(0, -100%, 0);
  animation: snow linear infinite;
}
    .snow.foreground {
        background-image: url("../img/flaucon3.png");
        animation-duration: 50s;
    }
.snow.foreground.layered {
          animation-delay: 30s;
}
    .snow.middleground {
        background-image: url("../img/flaucon3.png");
        animation-duration: 40s;
    }
.snow.middleground.layered {
          animation-delay: 10s;
}
    .snow.background {
        background-image: url("../img/flaucon3.png");
        animation-duration: 30s;
    }
.snow.background.layered {
          animation-delay: 15s;
}
@keyframes snow {
  0% {
            transform: translate3d(0, 100%, 0);
  }
  100% {
            transform: translate3d(0%, -100%, 0);
  }
}
