header
{
	height:12%;
	background-color:whitesmoke;
	position:fixed;
	left:0px;
	top:0px;
	width:100%;
	z-index:1;
}
body
{
    background: #212a41 url("../img/noelv2.png") center top !important;
    background-size: 50%;
		margin-top:8%;
		background-repeat:repeat;
		background-size: 100%;
		-ms-user-select:none;
		cursor:default;
}

footer
{
  position: relative;
  background-color: whitesmoke;
  text-align: center;
  bottom: 0%;
  height: 5%;
  width: 100%;
  color: #4060b2;
  text-decoration: none;
}

footer p:visited
{
	text-decoration: none;
	color:#4060b2;
}

footer p:link
{
	text-decoration: none;
	color:#4060b2;
}

footer p:hover
{
	color: #4060b2;
}

#panier
{
	position:absolute;
	top:45%;
	right:10%;
}
#menu
{
	display:block;
	position:absolute;
	left:0px;
	top:50%;
	width:10%;
	height:50%;
	overflow:hidden;
	color:rgb(77,79,166);
}
#menu:hover
{
	transition:0.5s;
	width:20%;
	height:300px;
	border-bottom-right-radius: 0.5em;
	background-color: whitesmoke;
	color: rgb(64, 96, 178);
}
#menu button
{
	border:none;
	background-color: whitesmoke;
}
#menu li
{
	font-size:1.5em;
	list-style: none;
	color: grey;
	margin-top:10px;
	margin-left: 10px;
	padding-left: 0px;
	text-align:center;
	padding:10px;
	border-left: 4px rgb(64, 96, 178) solid;
	font-weight: bold;
}
#menu ul
{
	width:95%;
	margin-top:10px;
	margin-left: 0px;
	padding-left: 0px;
}
#menu li:hover
{
	transition:0.5s ease;
	background-color:grey;
	color:white;
	transform: skewX(4deg);}
	
#promos
{
	display:flex;
	justify-content: space-around;
	flex-wrap: wrap;
	background-image:url("../img/cadre.png");
	background-repeat: no-repeat;
	background-color:#4060b2;
	background-size: 100%;
	padding: 1.5%;
	border: solid;
	border-radius: 5%;
	border-color: #4060b2;
	margin-left: 20%;
	margin-bottom: 5%;
	width: 60%;
	height: 40%;
}

#promos img 
{
	margin:10px;
	width: 300px;
	height: 250px;
	border: solid;
	border-color: #4060b2;
	border-radius: 5%;
	background-color: white
}
form
{
	position:absolute;
	right:15%;
	top:60%;
}
form:hover , a:hover
{
	cursor:pointer;
}
#ban_promo
{
	width:100%;
	background-color:white;
	border:5px solid rgb(64, 96, 178);
}
#ban_promo p
{
	font-size: 3em;
	color:grey;
	text-align: center;
}
#ban_promo a
{
	text-decoration: none;
}
.header-search
{
	height:32px;
	width:285px;
	margin: 28px 10px 0;
}
.fond-search
{
	width:288px;
	height:32px;
	background-color:#FFFFFF;
	border: solid 1px #CCC;
}
.fond-centre input[name="keywords"]
{
	border-width:1px !important;
	height:20px;
	line-height:20px;
}
.header-search .input-text-search
{
	width:235px;
	height:22px;
	line-height:22px;
	padding:5px;
	border:0;
	background-color:transparent;
	color:#000;
	font-size:13px;
	float:left;
	margin:0;
}
.boutonOK
{
	width:38px;
	height:32px;
	border:none ;
	cursor:pointer;
	border-radius:0;
	text-indent:-100px;
	background:rgb(64,96,178) url("../img/loupe.png");
	background-position: center center;
	background-repeat: no-repeat;
	float:right;
 }

#logo
{
	text-align:center;
}

#logo h1
{
	margin-top:0px;
	position:relative;
	top:-20px;
}

header p
{
	position:absolute;
	top:20%;
	left:5%
}

a:hover
{
	color: white;
}

#page_article
{
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
	align-items:baseline;
	width:60%;
	position: absolute;
	right:16%;
}

article
{
	width:260px;
	padding:10px;
	text-align:center;
	margin: 15px;
	background-color: white;
}
article:hover
{
	box-shadow:3px 3px grey;
}
article input
{
	background-color:rgb(64, 96, 178);
	color:whitesmoke;
	width:100%;
	height:50px;
	font-size:1.4em;
	border:none;
}
article input:hover
{
		background-color:rgb(50, 10, 180) ;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    padding: 10px;
		cursor:pointer;
}
#detail
{
	width:60%;
	margin:auto;
	background-color: white;
}
#detail img
{
	width:30%;
	float:left;
}
#detail div 
#detail input
{
	background-color:rgb(64, 96, 178);
	color:whitesmoke;
	width:100%;
	height:50px;
	font-size:1.4em;
	border:none;
}
#detail input:hover
{
		background-color:rgb(50, 10, 180) ;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    padding: 10px;
		cursor:pointer;
}
#bienvenue
{
	text-align: center;
	font-size: 150%;
	color: #4060b2;
}

#aboutus
{
	text-align: center;
	color: #4060b2;
	font-size: 200%;
}

#description
{
	background-color: whitesmoke;
	text-align: center;
	border: solid;
	border-color: #4060b2;
	border-radius: 5%;
	width: 50%;
	padding: 0.2%;
	margin-left: 25%;
}

#contactus
{
	border: solid;
	border-radius: 5%;
	border-color: #4060b2;
	width: 25%;
	margin-left: 37.5%;
	border-color:#4060b2;
	color: #4060b2;
	position: relative;
	text-align: center;
	margin-top: 7%;
}

#contactus button
{
	cursor: pointer;
	border-color: #4060b2;
}

#maintenance
{
	color: #4060b2;
	font-size: 200%;
	text-align: center;
	margin-top: 5%;
}

#maintenance img
{
	background-color: whitesmoke;
	border: solid;
	border-radius: 100%;
}

#commande form
{
	position: absolute;
	left: 43%;
	top: 10%;
	
}

/* ANIMATION */

.snow-container {

  position: fixed;
  height: 100vh;
  margin-left: -15%;
  width: 200%;
  max-width: 200%;
  top: 0;
  overflow: hidden;
  z-index: -1;
}
.snow {
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translate3d(0, -100%, 0);
  animation: snow linear infinite;
}
    .snow.foreground {
        background-image: url("../img/flaucon3.png");
        animation-duration: 50s;
    }
.snow.foreground.layered {
          animation-delay: 30s;
}
    .snow.middleground {
        background-image: url("../img/flaucon3.png");
        animation-duration: 40s;
    }
.snow.middleground.layered {
          animation-delay: 10s;
}
    .snow.background {
        background-image: url("../img/flaucon3.png");
        animation-duration: 30s;
    }
.snow.background.layered {
          animation-delay: 15s;
}
@keyframes snow {
  0% {
            transform: translate3d(0, 100%, 0);
  }
  100% {
            transform: translate3d(0%, -100%, 0);
  }
}
